.form {
  @include breakpoint(medium) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
  }

  &_group {
    @include breakpoint(medium) {
      width: 49%;
      &_full {
        width: 100%;
      }
    }

    &_radio {
      margin-bottom: 15px;
      // padding-left: 16px;
      font-size: rem(14);
      text-align: center;

      @supports (-webkit-touch-callout: none) {
        @include breakpoint(small) {
          font-size: rem(16);
        }
      }

      &_wrap {
        display: flex;
        align-items: center;
        justify-content: center;

        label {
          margin-right: 16px;
          cursor: pointer;
        }
      }

      legend {
        font-weight: var(--font-regular);
        color: var(--color-secondary);
        margin-bottom: 8px;
      }

      input[type='radio'] {
        background-color: initial;
        cursor: pointer;
        appearance: auto;
        box-sizing: border-box;
        margin: 0 4px 0px 0;
        padding: initial;
        border: initial;
      }
    }

    &_date {
      &_title {
        margin-bottom: 8px;
        text-align: center;
        font-size: 0.9rem;
      }
      input[type='date']::-webkit-datetime-edit-text,
      input[type='date']::-webkit-datetime-edit-month-field,
      input[type='date']::-webkit-datetime-edit-day-field,
      input[type='date']::-webkit-datetime-edit-year-field {
        text-transform: uppercase;
      }

      .form_date_wrapper {
        @include breakpoint(medium) {
          display: flex;
          gap: 1rem;
        }

        > div {
          flex: 1;

          @include breakpoint(small) {
            margin-bottom: 8px;
          }
        }
      }

      &_wrap {
        display: flex;
        align-items: center;
      }

      label {
        display: block;
        margin-right: 4px;
        font-size: 0.9rem;

        @include breakpoint(small) {
          min-width: 50px;
        }
      }

      input[type='date'] {
        width: 100%;
        padding: 0.875rem 0.5rem 0.875rem 1rem;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: var(--font-regular);
        color: var(--color-secondary);
      }
    }
  }

  &_input {
    position: relative;
    padding: rem(14) rem(8) rem(14) rem(16);
    width: 100%;
    border-radius: 8px;
    background: var(--color-white);
    font-weight: var(--font-medium);
    border: 1px solid transparent;
    font-size: rem(13);

    @supports (-webkit-touch-callout: none) {
      @include breakpoint(small) {
        font-size: rem(16);
      }
    }

    &::placeholder {
      font-weight: var(--font-regular);
      color: var(--color-secondary);
    }

    .form_group.error & {
      border-color: #e74c3c;
    }

    &_error {
      color: #e74c3c;
      visibility: hidden;
      min-height: 15px;
      padding-top: 3px;
      padding-bottom: 8px;
      .form_group.error & {
        visibility: visible;
      }
    }
  }

  &_textarea {
    @include breakpoint(medium) {
      width: 100%;
    }
  }

  &_select {
    cursor: pointer;

    &_selected {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;
      color: var(--color-dark);
      background: transparent;
      border: 0;
      font-size: rem(14);
      padding: 0;

      @supports (-webkit-touch-callout: none) {
        @include breakpoint(small) {
          font-size: rem(16);
        }
      }

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 24px;
      }

      svg {
        transform: rotate(90deg);
        position: absolute;
        right: 0;
        transition: transform 0.3s ease-in-out;

        path {
          fill: var(--color-secondary);
        }
      }
    }

    &_placeholder {
      font-weight: var(--font-regular);
      color: var(--color-secondary);
    }

    &_active {
      svg {
        transform: rotate(-90deg);
      }
    }

    &_list {
      position: absolute;
      left: 0;
      width: 100%;
      display: flex;
      flex-flow: column;

      background-color: #f9f9f9;
      border-radius: 6px;
      margin-top: 26px;
      padding: 0 20px;
      max-height: 330px;
      overflow-y: auto;
      transition: 0.2s ease-in-out;
      height: 0;
      z-index: 1;

      &_active {
        height: fit-content;
      }

      &::-webkit-scrollbar {
        width: 4px;
        background-color: #eee;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--color-primary);
      }
    }

    &_option {
      padding: 8px 0;
      font-weight: var(--font-medium);
      font-size: 14px;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover,
      &.selected {
        color: var(--color-primary);
      }
    }
  }

  &_submit {
    width: 100%;
    grid-column: 1 / -1;
    &_button {
      margin: auto;
      cursor: pointer;

      &:hover {
        background: var(--color-dark) !important;
        color: var(--color-white) !important;
      }
    }
  }
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.disabled .form_select_selected {
  cursor: not-allowed;
}
