.footer {
  position: relative;
  padding-top: rem(64);
  padding-bottom: rem(32);
  z-index: 3;
  background: var(--color-background);
  font-size: rem(14);

  @include breakpoint(small) {
    z-index: 3;
  }
  @include breakpoint(large) {
    padding-bottom: rem(40);
  }

  &_dark {
    background: #101010 url(/assets/noise4.png);
    background-size: 30px !important;
    color: var(--color-white);
  }

  &_top {
    padding-bottom: rem(32);
    margin-bottom: rem(32);
    border-bottom: 1px solid var(--color-grayDark);

    &_heading {
      font-size: rem(28);
      margin-bottom: rem(8);
      text-transform: uppercase;
      font-weight: var(--font-medium);
      @include breakpoint(large) {
        font-size: rem(40);
      }
      @include breakpoint(medium) {
        font-size: rem(33);
      }
    }

    &_subheading {
      font-size: rem(17);
      color: var(--color-primary);
      font-weight: var(--font-medium);

      @include breakpoint(large) {
        font-size: rem(20);
      }

      .footer_dark & {
        color: var(--color-background);
      }
    }
  }

  &_middle {
    @include breakpoint(medium) {
      display: flex;
      &_info {
        flex: 1;
        display: flex;
        flex-flow: column;
        & > :nth-child(2) {
          margin-top: rem(24);
        }
      }
    }
  }

  &_column {
    padding-bottom: rem(40);
    @include breakpoint(medium) {
      flex: 1;
      padding-bottom: rem(20);
    }

    &_social {
      padding-bottom: rem(40);
    }

    &_title {
      margin-bottom: rem(20);
      font-size: rem(20);
      font-weight: var(--font-medium);
      text-transform: uppercase;
    }
    &_list {
      &_item {
        display: flex;
        align-items: center;
        margin-bottom: rem(16);
        transition: color 0.3s ease;

        @include breakpoint(medium) {
          &:hover {
            color: var(--color-primary);
            svg path {
              fill: var(--color-primary);
            }

            .footer_dark & {
              color: var(--color-background);
              svg path {
                fill: var(--color-background);
              }
            }
          }
          svg path {
            transition: fill 0.3s ease;
          }
        }

        svg {
          margin-right: 16px;

          path{  
            .footer_dark & {
              fill: var(--color-grayDark);
            }
          }
        }
      }
    }
  }

  &_nav {
    display: flex;
    flex-flow: column;
    list-style: none;
    @include breakpoint(medium) {
      flex-flow: unset;
      flex-wrap: wrap;
    }

    &_item {
      position: relative;

      &:not(:last-child) {
        margin-bottom: rem(16);
      }

      @include breakpoint(medium) {
        width: 50%;
      }
    }

    &_link {
      position: relative;
      @include breakpoint(large) {
        &:after {
          position: absolute;
          content: '';
          left: 0;
          right: 0;
          bottom: -6px;
          height: 2px;
          background: var(--color-primary);
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
        }

        &:hover {
          &:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  &_socials {
    display: flex;
    justify-content: space-between;
    max-width: 315px;

    &_item {
      svg {
        width: 30px;
      }

      &_tiktok,
      &_threads {
        path {
          fill: var(--color-background);
        }
      }

      &_x {
        path:first-child {
          stroke: var(--color-background);
        }
        path:nth-child(2) {
          fill: var(--color-background);
        }
      }
    }

    .footer_dark & {
      &_item {
        &:not(.footer_socials_item_tiktok):not(.footer_socials_item_x):not(
            .footer_socials_item_threads
          ) {
          svg path {
            fill: #fff;
          }
        }
        &_tiktok {
          svg {
            rect {
              fill: #fff;
            }
            path {
              fill: var(--color-dark);
            }
          }
        }
        &_x {
          svg path {
            &:first-child {
              fill: #fff;
              stroke: #fff;
            }
            &:last-child {
              fill: var(--color-dark);
            }
          }
        }
        &_threads {
          circle {
            fill: #fff;
          }
          path {
            fill: var(--color-dark);
          }
        }
      }
    }

    @include breakpoint(medium) {
      &_item {
        svg path,
        svg rect {
          transition:
            fill 0.3s ease,
            stroke 0.3s ease;
        }
        &:not(.footer_socials_item_tiktok):not(
            .footer_socials_item_threads
          ):not(.footer_socials_item_x):hover {
          svg path {
            fill: var(--color-primary);

            .footer_dark & {
              fill: var(--color-background);
            }
          }
        }
        &_tiktok:hover {
          svg rect {
            fill: var(--color-primary);

            .footer_dark & {
              fill: var(--color-background);
            }
          }
        }
        &_threads:hover {
          svg circle {
            fill: var(--color-primary);

            .footer_dark & {
              fill: var(--color-background);
            }
          }
        }
        &_x:hover {
          svg path:first-child {
            fill: var(--color-primary);
            stroke: var(--color-primary);

            .footer_dark & {
              fill: var(--color-background);
              stroke: var(--color-background);
            }
          }
        }
      }
    }
  }

  &_bottom {
    border-top: 1px solid var(--color-grayDark);
    text-align: center;
    font-size: rem(14);

    @include breakpoint(large) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: rem(16);
      padding-top: rem(8);
    }

    &_nav {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-evenly;
      align-items: center;

      @include breakpoint(medium) {
        justify-content: center;
        gap: 32px;
        margin-bottom: rem(32);
      }

      @include breakpoint(large) {
        margin-bottom: 0;
        order: 1;
        gap: 40px;
      }

      &_item {
        position: relative;

        @include breakpoint(medium) {
          margin-bottom: 0;
        }

        @include breakpoint(large) {
          &:after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            bottom: -6px;
            height: 2px;
            background: var(--color-primary);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
          }

          &:hover {
            &:after {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    @include breakpoint(untilLarge) {
      display: flex;
      flex-direction: column;
      align-items: center;

      ul {
        margin: 1rem 0;
      }

      p {
        margin-bottom: 1rem;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    &_copy {
      span {
        display: inline;
        @media (max-width: 500px) {
          display: block;
        }
      }

      &_middle {
        color: var(--color-primary);
        font-weight: 600;
      }
    }
  }
}
.footer_inner {
  .footer_top {
    .footer_content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer_text {
        flex: 1;
      }

      .footer_image {
        flex: 1;
        position: relative;
        height: 200px;

        img {
          object-fit: contain;
        }
        @include breakpoint(small) {
          display: none;
        }
      }
    }
  }
}
