.testing {
  color: white;

  &_title {
    margin-bottom: rem(16);
    text-transform: uppercase;
    color: var(--color-background);
    font-weight: var(--font-demi);
    white-space: pre-wrap;
    font-size: rem(20);
    font-size: clamp(1.125rem, 1.0188rem + 0.4531vw, 1.5625rem);

    span {
      white-space: pre-wrap;
    }
  }

  &_content {
    @include breakpoint(large) {
      margin-top: 80px;
    }

    &_text,
    &_video,
    &_image {
      margin-bottom: 40px;
    }

    h2 {
      margin-bottom: 1rem;
      text-transform: uppercase;
      color: var(--color-background);
      font-weight: var(--font-demi);
      font-size: 1.25rem;
      font-size: clamp(1.125rem, 1.0188rem + 0.4531vw, 1.5625rem);
    }

    p {
      margin-bottom: 1rem;
      font-size: 0.875rem;
      font-size: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
    }
  }

  section {
    font-weight: var(--font-light);
  }

  &_container_small {
    @include breakpoint(large) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &_text {
    display: block;
    font-size: rem(14);
    font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
    font-weight: var(--font-light);
    line-height: 1.25;
    margin: rem(16) 0;

    p {
      margin-bottom: rem(16);
    }

    a {
      color: var(--color-background);
      font-weight: var(--font-medium);
      text-decoration: underline;
    }
  }
}
